# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    docker-compose.yml                                 :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: ahernand <ahernand@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/06/07 15:26:11 by ahernand          #+#    #+#              #
#    Updated: 2022/06/09 16:06:46 by ahernand         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

version: "3.2"

services:

# _____   Nginx   _____ #

  nginx:
    depends_on:
      - wordpress

    build:
      context: . 
      dockerfile: ./requirements/nginx/Dockerfile
    container_name: nginx
    image: nginx

    ports:
      - "443:443"

    volumes:
      - v_wp:/var/www/html

    networks:
      - my_network

    restart: unless-stopped



# _____  Mariadb  _____ #

  db:
    env_file:
      - .env

    build:
      context: .
      dockerfile: ./requirements/mariadb/Dockerfile
    container_name: mariadb
    image: mariadb

    volumes:
      - v_db:/var/lib/mysql

    networks:
      - my_network

    restart: unless-stopped



# _____ Wordpress _____ #

  wordpress:
    depends_on:
      - db

    env_file:
      - .env

    build:
      context: .
      dockerfile: ./requirements/wordpress/Dockerfile
    container_name: wordpress
    image: wordpress

    volumes:
      - v_wp:/var/www/html

    networks:
      - my_network

    restart: unless-stopped





volumes:
  v_wp:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/ahernand/data/wordpress
      o: bind
      type: none

  v_db:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/ahernand/data/mariadb
      o: bind
      type: none



networks:
  my_network: